p {
    font-family: Arial, sans-serif; /* tipo de letra */
    font-size: 16px; /* tamaño de letra */
    font-weight: normal; /* peso de la letra */
    font-style: normal; /* estilo de la letra */
    text-align: center; /* alineación del texto */
    line-height: 1; /* altura de línea */
    letter-spacing: normal; /* espacio entre letras */
    word-spacing: normal; /* espacio entre palabras */
    text-decoration: none; /* decoración del texto */
    text-transform: none; /* transformación del texto */       
      
}